@import 'tailwindcss';

:root {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #0069b2;
  --color-primary-hover: #0182dc;
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.hover\:bg-primary:hover {
  background-color: var(--color-primary-hover);
}

.border-primary {
  border-color: var(--color-primary);
}

.ring-primary {
  --tw-ring-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

body {
  font-family: var(--font-poppins);
}

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
